<nav>
  <ul>
    <li><a href="/">Welcome</a></li>
    <li><a href="/what-we-do/">Our Work</a></li>
  </ul>
  <ul>
    <li><a href="/listings">Listings</a></li>
    <li><a href="/register">Sign Up</a></li>
  </ul>
</nav>
