<nav>
  <% if session[:user_id].blank? %>
    <ul>
      <li><a href="/">Welcome</a></li>
      <li><a href="/what-we-do/">Our Work</a></li>
    </ul>
    <div class="logo">
      <a href="/">Eximius</a>
    </div> <!-- .logo -->
    <ul>
        <li><a href="/listings">Listings</a></li>
        <li><a href="/auth/register">Sign Up</a></li>
    </ul>
  <% else %>
    <ul>
      <li><a href="/">Welcome</a></li>
      <li><a href="/listings">Listings</a></li>
    </ul>
    <div class="logo">
      <a href="/">Eximius</a>
    </div> <!-- .logo -->
    <ul>
      <li><a href="/auth/logout/">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  <% end %>
</nav>
