<%
  # index.html.erb
  #
  # Eximius
  # Alexander Rhett Crammer
  # Advanced Server-Side Languages
  # Full Sail University
  # Created Tuesday, 24 Nov. 2015

  content_for :title, 'Home'
  # content_for :extra_scripts do
  #   stylesheet_link_tag 'hover', 'welcome'
  # end
%>
<div class="latest-blog-post">
  <div class="content">
    <h4>Eximius just moved to New York!</h4>
    <p>Thanks to you, EXIMIUS has finally expanded the office to New York. Every day we help numerous people find opportunities. Thanks to people like you we were able to open an office in New York where we’re helping nearly 100 people a day.</p>
    <button>Read More...</button>
  </div> <!-- .latest-blog-post-content -->
  <img src="<%= asset_url('JonOttosson.jpeg') %>" alt="JonOttosson.jpeg">
</div> <!-- .latest-blog-post -->
