<p>We’re looking for some new additions to our team. We want you to help us achieve our mission!</p>
<p>We have a native application for our user base and a separate application for ourselves. We have a lot of ideas about how we can revolutionise the industry and we need your help to bring them to life.</p>
<h6>Responsibilities:</h6>
<p>As a member of the cross-functional team, you will work with product managers, designers, and QA engineers who are all as passionate about building amazing applications as you are. You will be able to dive straight into the code, making changes that will impact users from the beginning, and you will play a huge part in driving where the applications go. We believe that every team member should be involved in shaping the product we build and you’ll have more than enough opportunity to do so in idea sessions and design studios.</p>
<h6>Basic Qualifications:</h6>
<ul>
  <li>- Bachelor’s degree in Computer Science</li>
  <li>- 4+ years of experience as an iOS developer writing Objective-C</li>
  <li>- Experience developing an application from start to finish (id est. you've deployed applications before)</li>
  <li>- Strong OOP skills</li>
  <li>- Passion for code quality and software craftsmanship</li>
</ul>
