/**
 * application.scss
 *
 * Eximius
 * Alexander Rhett Crammer
 * Advanced Server-Side Languages
 * Full Sail University
 * Created Tuesday, 24 Nov. 2015
 *
 *= require reset
 *= require hover
 *= require_self
 */

/* Variables */
$helvetica-stack: "Helvetica Neue", "Helvetica", sans-serif;
$bebas-stack: "Bebas Neue", $helvetica-stack;

/* Colours */
$white: #e4e4e4;
$gold: #d4af37;
$blue: #5abbe2;

/* Mixins */
@mixin bebas-neue {
  font: {
    family: "Bebas Neue";
    size: 1em;
    weight: 500;
  }
}

@mixin helvetica-thin {
  font: {
    family: $helvetica-stack;
    weight: 200;
  }
}

@mixin helvetica-ultra-light {
  font: {
    family: $helvetica-stack;
    weight: 100;
  }
}

@mixin golden-text {
  // Gradient overlay
  background: -webkit-linear-gradient(top,  rgba(212,175,55,1) 0%,rgba(201,167,58,1) 100%); /* Chrome 10-25, Safari 5.1-6 */

  // Clipping the gradient to the text
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Structure */
body {
  background-color: black;
}

img {
  width: 100%;
}

/* Experience */
::selection {
  background: deeppink; /* Webkit and Blink */
}

::-moz-selection {
  background: deeppink; /* Gecko */
}

/* Buttons */
button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid $gold;
  font-family: "Bebas Neue";
  font-size: 1em;
  padding: 15px 20px;
  letter-spacing: 1.15px;
  outline: none;
  transition: all 175ms;
}

button:hover {
  background-color: $gold;
  border-color: $gold / 3;
}

button:active {
  background-color: $gold / 2;
  border-color: $gold / 4;
}

button.blue {
  border-color: $blue;
  margin: 7.5% 5%;
  padding: 2.5% 7.5%;
}

button.blue:hover {
  background-color: $blue;
}

button.blue:active {
  border-color: $blue / 2;
  background-color: $blue / 2.5;
}

/* Navigation */
nav {
  overflow: auto;
  text-align: center;
  width: 100%;

  ul:first-of-type li {
    float: left;
    margin-left: 35px;
  }

  ul:last-of-type li {
    float: right;
    margin-right: 35px;
  }

  li {
    display: inline;
    font-size: 0.75em;
    padding: 40px 0;
  }

  div.logo {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 335px;
    right: 335px;

    a {
      @include golden-text;
      display: block;
      font: {
        family: "Bauru";
        size: 4em;
      }
      line-height: 172.5%;
      padding: 0;
    }

    a:hover {
      font-style: normal;
    }
  }

  a,
  a:link,
  a:visited, {
    @include helvetica-thin;
    color: #d4bb6c;
    letter-spacing: 1.75px;
    padding: 15px;
    text: {
      decoration: none;
      transform: uppercase;
    }
    transition: color 125ms;
  }

  a:hover {
    color: #efdca0;
    font-style: italic;
  }

  a:active {
    color: #7b7b7b;
  }
}

nav:last-of-type {
  ul:first-of-type {
    margin-left: 5%;
  }

  ul:last-of-type {
    margin-right: 5%;
  }
}

/* Fonts */
@font-face {
  font-family: "Bauru";
  src: font-url('bauru.eot');
  src: font-url('bauru.eot?#iefix') format('embedded-opentype'),
       font-url('bauru.woff2') format('woff2'),
       font-url('bauru.woff') format('woff'),
       font-url('bauru.ttf') format('truetype'),
       font-url('bauru.svg#baururegular') format('svg');
}

@font-face {
  font-family: 'Bebas Neue';
  src: font-url('bebasneue_regular.eot');
  src: font-url('bebasneue_regular.eot?#iefix') format('embedded-opentype'),
       font-url('bebasneue_regular.woff2') format('woff2'),
       font-url('bebasneue_regular.woff') format('woff'),
       font-url('bebasneue_regular.ttf') format('truetype'),
       font-url('bebasneue_regular.svg#bebas_neue_regularregular') format('svg');
}

@font-face {
  font-family: 'Bebas Neue';
  src: font-url('bebasneue_thin.eot');
  src: font-url('bebasneue_thin.eot?#iefix') format('embedded-opentype'),
       font-url('bebasneue_thin.woff2') format('woff2'),
       font-url('bebasneue_thin.woff') format('woff'),
       font-url('bebasneue_thin.ttf') format('truetype'),
       font-url('bebasneue_thin.svg#bebas_neuethin') format('svg');
  font-weight: 100;
  font-style: normal;
}

/**
 * Extra fonts (it was easy to go ahead
 * and add them to the filesystem so...)
 */

// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('bebasneue_bold.eot');
//   src: url('bebasneue_bold.eot?#iefix') format('embedded-opentype'),
//        url('bebasneue_bold.woff2') format('woff2'),
//        url('bebasneue_bold.woff') format('woff'),
//        url('bebasneue_bold.ttf') format('truetype'),
//        url('bebasneue_bold.svg#bebas_neuebold') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('bebasneue_book.eot');
//   src: url('bebasneue_book.eot?#iefix') format('embedded-opentype'),
//        url('bebasneue_book.woff2') format('woff2'),
//        url('bebasneue_book.woff') format('woff'),
//        url('bebasneue_book.ttf') format('truetype'),
//        url('bebasneue_book.svg#bebas_neuebook') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('bebasneue_light.eot');
//   src: url('bebasneue_light.eot?#iefix') format('embedded-opentype'),
//        url('bebasneue_light.woff2') format('woff2'),
//        url('bebasneue_light.woff') format('woff'),
//        url('bebasneue_light.ttf') format('truetype'),
//        url('bebasneue_light.svg#bebas_neuelight') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
//
