/**
 * profile.scss
 *
 * Eximius
 * Alexander Rhett Crammer
 * Advanced Server-Side Languages
 * Full Sail University
 * Created Friday, 27 Nov. 2015
 */

/* Extend 'application.scss' */
@import 'application.scss';

/* Structure */
body {
  background: {
    image: asset-url('WayneBishop.jpg');
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
}

.container {
  margin: 2.5% 12.5%;
  overflow: auto;
  width: 75%;
}

/* Selfie */
input#selfie {
  display: none;
}

.selfie-container {
  border: 3.5px solid #313131;
  border-radius: 100%;
  float: left;
  height: 224px;
  overflow: hidden;
  width: 224px;
}

/* Selfie on Hover */
.selfie.higher {
  border-radius: 100%;
  position: relative;
  top: -100%;
  z-index: -1;
}

.selfie-plus {
  cursor: pointer;
  display: none;
}

.selfie-plus-hover {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  float: left;
}

.selfie-plus-hover.darker {
  background-color: rgba(215, 215, 215, 0.9);
}

.selfie-plus-hover p {
  color: #313131;
  cursor: pointer;
  font-weight: 900;
  font-size: 10em;
  text-align: center;
  margin-top: 10%;
}

.selfie-plus-hover::selection,
.selfie-plus-hover p::selection {
  background-color: transparent;
}

.selfie-plus-hover::moz-selection,
.selfie-plus-hover p::moz-selection {
  background-color: transparent;
}

.selfie-plus-hover::webkit-selection,
.selfie-plus-hover p::webkit-selection {
  background-color: transparent;
}

/* Form */
.problem {
  @include helvetica-thin;
  color: #7dccc9;
  padding: 0 0 7.5%;
  text-align: center;
}
